.conveyanceOuterDiv {
  position: relative;
}

.addConveyance {
  position: absolute;
  right: 5vw;
  top: 3vh;
}

.conveyanceXListFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.conveyanceYListFlex {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.conveyanceHead {
  border-bottom: solid;
  padding-left: 3vw;
  padding-bottom: 1vh;
  margin-top: 1vh;
}
.conveyanceHead p {
  margin-right: 2vw;
  font-size: 1.5em;
}
.grantorsFormCard {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
}
.landFormCard {
  width: 100%;
  margin-bottom: 5%;
}
.landOuterDiv {
  height: 68vh;
  width: 33vw;
  margin-top: 2vh;
  overflow-y: auto;
  border-right: solid;
  border-left: solid;
}
.grantsOuterDiv {
  width: 20vw;
  height: 68vh;
  margin-top: 2vh;
  overflow-y: auto;
}

.listTitles {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.interestsAdded {
  padding-bottom: 1vh;
  border-bottom: solid;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.interestTitles {
  font-size: 1.25em;
  font-weight: bold;
}

.grantorsFlex{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}