.mainOuterDiv{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.partiesOuterDiv{
	width: 20vw; 
	text-align: center;
	 height: 100vh; 
	 border-right: solid; 
	 overflow-y: auto;
}